:root {
    --primary: #E6E8FF;
    --secondary: #F8EDCA;
}

body {
    margin: 0;
    font-family: "Poppins";
    background: var(--secondary);
}

* {
    color: black;
    margin: 0;
}

p {
    margin: 20px 0;
}

/* nav */
.navbar {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    background: var(--primary);
}

.title {
    margin-right: auto;
    border-bottom: 5px solid var(--secondary);
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    /*Fjerner underscore på links */
    padding: 6px;
    border-radius: 10px;

}

.active {
    background-color: var(--secondary);
    border: 2px solid grey;
}