body {
    margin: 0;
    background: #F8EDCA;
}

* {
    color: black;
}

/* nav */
.navbar {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: #E6E8FF;
    box-sizing: border-box;
}

.title {
    padding: 10px;
    margin-right: auto;
    border-bottom: 5px solid #F8EDCA;
}

.link {
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;

}

.active {
    background-color: #F8EDCA;
    border: 2px solid grey;
}
