:root {
    --primary: #bc4123;
    --secondary: #2b3452;
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins";
    background: var(--secondary);
}

* {
    color: black;
    margin: 0;
}

p {
    margin: 20px 0;
}

/* nav */
.navbar {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
    margin-bottom: 20px;
}

.link {
    text-decoration: none; /*Fjerner underscore på links */
    padding: 6px;
    border-radius: 10px;

}

.active {
    background-color: var(--primary);
}