.container {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.input,
.button {
    width: 125px;  
    height: 25px;
    padding: 2px 30px; 
    margin: 2px;
    font-size: 0.8rem;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: #E6E8FF; 
}


