.container {
    display: flex;
    justify-content: center;
    
}

.form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.input,
.button {
    width: 120px;
    height: 25px;
    padding: 2px 10px; 
    margin: 2px;
    font-size: 0.9rem;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: #E6E8FF;

   
    
}


